/* Reset básico */
body, h1, p {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Estilo geral do corpo */
body {
    font-family: 'Arial', sans-serif;
    background-color: #4F4848; /* Cor de fundo cinza */
    color: #333;
}

/* Estilo do cabeçalho */
header {
    background-color: #332f2f;
    color: #000000;
    padding: 20px;
    text-align: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* Estilo do título do cabeçalho */
header h1 {
    font-size: 2.5em;
    font-weight: 700;
}

/* Estilo do conteúdo principal */
main {
    padding: 20px;
}

/* Estilo do container de grid */
.grid-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* Define 2 colunas */
    gap: 15px;
}

/* Estilo dos itens do grid */
.grid-item {
    background-color: #4F4848;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    position: relative;
    display: flex; /* Adiciona flexbox */
    justify-content: center; /* Centraliza a imagem horizontalmente */
    align-items: center; /* Centraliza a imagem verticalmente */
}

/* Estilo das imagens dentro dos itens do grid */
.grid-item img {
    width: 85%;
    height: auto;
    display: block;
    transition: transform 0.3s ease-in-out;
}

/* Efeito de zoom nas imagens ao passar o mouse */
.grid-item:hover img {
    transform: scale(1.05);
}

/* Estilo do rodapé */
footer {
    background-color: #2b2828;
    color: #352f2f;
    text-align: center;
    padding: 15px;
    position: fixed;
    bottom: 0;
    width: 100%;
    box-shadow: 0 -2px 4px rgba(0, 0, 0, 0.1);
}
